html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.8px;
    font-size: 1.8rem;
    line-height: 1.6;
    background-color: $light;
    font-family: $base;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    -webkit-appearance: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}
