@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

$base: 'Lexend Deca', sans-serif;

$black: #151515;
$dark: #666;
$gray: #ccc;
$light: #eee;
$white: #fafafafa;
$transparent: rgba(255, 255, 255, 0.97);

$green: #6ecb63;
$red: #f55c47;
$gold: #f0a500;
$blue: #03506f;

$radius: 1rem;
$radius-l: 5rem;
$radius-full: 50%;

$shadow: 0.5rem 0.5rem 1rem $gray;

$responsive: 1024px;
$jumbo: 1580px;
