.History {
    height: 100%;
    width: 100%;
    padding: 3rem 3rem;
    margin: 0 0 5rem;
    overflow: hidden;
}

.History-list {
    display: grid;
    gap: 3rem;
    overflow-y: scroll;
    max-height: 70rem;
    padding-bottom: 10rem;

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    }
}

.History-item {
    box-shadow: $shadow;
    border-radius: $radius;
    padding: 4.7rem 0rem 0rem;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
    background-color: $gray;
    min-height: 20rem;
}

.History-month {
    position: absolute;
    top: 0;
    margin: 0;
    background-color: $gold;
    left: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    margin: 0;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
}

.History-data {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.History-income {
    margin: 0;
    color: $green;
    background-color: $light;
}
.History-spent {
    margin: 0;
    color: $red;
    background-color: $light;
}
.History-balance {
    margin: 0;
    grid-row: 1/3;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    background-color: none;
    color: $white;
}
